<?xml version="1.0" encoding="UTF-8"?>

   <config version="1.1.4" htmlParse="false">

     <!-- titel van het onderzoek -->
     <item id="studyTitle">Q-sort</item>

     <!-- tekstuitlijning (left|right) -->
     <item id="textAlign">left</item>

     <!-- kaarten schudden (true|false) -->
     <item id="shuffleCards">true</item>

     <!-- toegangscode vereist (true|false) -->
     <item id="loginrequired">false</item>
     <item id="clearCachePassword">cleareqmobilecache</item>
     <!-- inloggen met algemeen wachtwoord (leeg laten indien niet vereist) -->
     <item id="loginPassword"></item>
     <item id="partNameRequired">true</item>
     <!-- Gebruik login-script -->
     <item id="useLogInScript">false</item>
     <!-- URL naar individueel login-script (leeg laten indien niet vereist) -->
     <item id="loginUrl"></item>
     <!-- request-methode (post|get) -->
     <item id="loginUrlMethod"></item>

     <item id="setConstantCardHeight">false</item>
     <item id="constantCardHeight">150</item>
     <item id="setConstantCardWidth">false</item>
     <item id="constantCardWidth">200</item>

     <!-- (de)activeer optionele stappen (true|false) -->
     <item id="showStep3">true</item>
     <item id="showStep4">false</item>
     <item id="showStep5">true</item>

     <!-- HtmlQ alleen: in-window terugknop uitschakelen -->
     <item id="disableBackButton">false</item>

     <!-- formulier voor stap 5; alleen zichtbaar als showStep5 = true -->
     <!-- label toevoegen: <label>[TEKST]</label> -->
     <!-- toelichting toevoegen: <note>[TEKST]</note> -->
     <!-- invoerveld toevoegen: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[WAARDE]</input> -->
     <!-- optionele attributen: bg, id, maxlength, restricted, required, scale  -->
     <item id="form">

        <label>Voor en achternaam (alleen ter verificatie van inzending, resultaten blijven anoniem)</label>
        <input type="textarea" required="true"></input>
        
        <label>Project waaraan u heeft meegewerkt</label>
        <input type="select" required="true">Project R-Net busbaan Leiden – Katwijk;Groot onderhoud Afvalwaterriool Zuid - Aalst;Renovatie hoofdrioolgemaal Slauerhofflaan;Julianasluiscomplex</input>

        <label>Voor welke partij voerde u uw werkzaamheden voornamelijk uit?</label>
        <input type="select" required="true">Opdrachtgever;Opdrachtnemer</input>
        
        <label>Rol / functie (IPM-rol)</label>
        <note>Kies de optie die uw rol of functie het beste beschrijft.</note>
        <input type="select" required="true">Contract Manager;Project Manager;Ontwerpleider;Technisch Adviseur;Toezichthouder;Omgevingsmanager</input>

        <label>Geef drie mogelijke tijdslots van 20 minuten tussen 10 en 18 november waarop u beschikbaar bent voor een kort vervolggesprek om uw overwegingen toe te lichten. U ontvangt hiervoor een MS Teams uitnodiging via de mail.</label>
        <input type="textarea" required="true"></input>

        <label>Is er verder nog iets dat u wilt delen?</label>
        <input type="textarea" required="false"></input>

     </item>

     <!-- URL voor datatransmissie via POST/GET (leeg laten indien niet vereist) -->
     <item id="submitUrl">exe.php?do=save</item>
  
     <!-- request-methode (post|get|firebase) -->
     <item id="submitUrlMethod">firebase</item>
  
     <!-- datatransmissie via e-mail; gebruiker moet een e-mailprogramma hebben (leeg laten indien niet vereist) -->
     <item id="submitMail">yourdomain.com</item>
   </config>
